#menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#menu-container section {
    margin-bottom: 20px;
}

#menu-container h1 {
    padding: 20px 0;
    width: 100%;
    text-align: center;
    padding-bottom: 0;
}

#menu-container h2 {
    color: var(--primary-color);
}

#side-drink-section,
#custom-selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
    gap: 40px;
}

#card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    width: 350px;
    height: 350px;
    border-radius: 10px;
    padding: 15px;
}

#card-container.toppings-card {
    width: 300px;
    height: 125px;
    padding: 0;
    border: none;
    filter: none;
    background-color: var(--primary-color);
}

#card-container.toppings-card h2 {
    color: var(--white);
}

#card-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#card-content.custom-card :last-child {
   align-self:center;
   font-weight: bold;
}

#card-content img {
    width: 225px;
    height: 225px;
}

#topping-header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#topping-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    background-color: var(--primary-color);
}