* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #bc3908;
    --secondary-color: #e0cd72;
    --black: #220901;
    --white: #eef0f2;
    --style-font: DenkOne;
}

@font-face {
    font-family: "DenkOne";
    src: url(./assets/fonts/DenkOne-Regular.ttf);
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*/////////////////////// HEADER & NAVIGATION //////////////////////*/
#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    background-color: var(--primary-color);
}

#header #main-nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

button {
    font-family: var(--style-font);
    font-size: 1.5rem;
    border: none;
}

#main-nav button {
    background: none;
    color: var(--white);
    transition: color 0.3s ease;
}

#secondary-nav button {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
}

button.active {
    color: var(--secondary-color) !important;
}

#main-nav button:hover {
    cursor: pointer;
    color: var(--secondary-color) !important;
}

/*/////////////////////// HOME PAGE ///////////////////////////////*/
#content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    height: 100vh;
}

#content section {
    flex: 1;
    min-height: 425px;
    padding: 20px 0;
}

h1 {
    font-family: var(--style-font);
    font-size: 40px;
}

p {
    font-size: 20px;
}

/* hero section */
#hero {
    background-color: var(--primary-color);
}

#hero-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#hero-content h1,
#hero-content img {
    width: 425px;
    text-align: left;
    color: var(--white);
}

#hero-content h1 span {
    color: var(--black);
    background-color: var(--secondary-color);
}

#hero-img {
    max-height: 450px;
    width: auto;
    object-fit: cover;
    border-radius: 10px;
}

/* values section */
#values {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

#values-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    align-items: center;
    gap: 40px;
    text-align: center;
}

/*/////////////////////// HOURS & LOCATION SECTION //////////////////*/
#location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#location-content {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
}

#location-content #open-hours-container,
#location-content img {
    width: 425px;
}

#location-content div {
    padding: 5px 0;
}

#location-img {
    max-height: 450px;
    width: auto;
    object-fit: cover;
    border-radius: 10px;
}

#open-hours-container {
    display: flex;
    flex-direction: row;
    gap: 20px
}

#open-hours-container span {
    color: var(--primary-color);
    font-weight: bold;
}

/*/////////////////////// FOOTER ///////////////////////////////*/
footer {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
}

footer #footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#footer-links button {
    background: none;
}